# Combustible Lemon Launcher .gitignore
.gradle
.settings
bin
build
eclipse
gradle
.classpath
.project
CREDITS-fml.txt
*changelog.txt
gradlew
gradlew.bat
LICENSE
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt