# Combustible Lemon Launcher .gitignore
.gradle
.settings
.metadata/
bin
build
eclipse
gradle
exec
.classpath
.project
CREDITS-fml.txt
*changelog.txt
gradlew
gradlew.bat
LICENSE
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
*.ipr
*.iml
*.iws
*.DS_Store
out/
