# Combustible Lemon Launcher .gitignore
.gradle
.settings
.metadata/
bin
run
build
eclipse
gradle
exec
.classpath
.project
CREDITS-fml.txt
*changelog.txt
gradle.properties
gradlew
gradlew.bat
LICENSE
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.idea/
*.ipr
*.iml
*.iws
*.DS_Store
out/
*.launch
logs/